@import 'variables';
@import 'globals';
@import 'components';
@import 'partials';
@import 'header';
@import 'footer';

.offer-highlight {
  background-color: $red;
  padding: 7px 12px;
  color: #ffffff;
  font-size: 28px;
  -webkit-box-shadow: 3px 3px 0px #9E1627;
  -moz-box-shadow: 3px 3px 0px #9E1627;
  box-shadow: 3px 3px 0px #9E1627;
  margin-left: 10px;
  margin-right: 12px;
}

.offer-title-highlight {
  font-size: 1.35em;
  line-height: 1.3em;
  color: $red;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
}

.offers-page {
  &-hero {
    padding: 100px 0;
    background-image: url('../img/july25-offer.jpg');
    background-position: calc(50% - 300px) center;
    background-size: 450px;
    background-repeat: no-repeat;
    position: relative;
    min-height: 550px;
    margin-bottom: -1px;
    overflow: hidden;

    @media only screen and (max-width: 1200px) {
      padding-top: 150px;
      background-position: calc(50% - 200px) 70%;
      background-size: 400px;
    }

    @media only screen and (max-width: 979px) {
      background-position: calc(50% - 150px) 70%;
      background-size: 350px;
    }
    
    @media only screen and (max-width: 767px) {
      background-position: center 10px;
      padding-top: 520px;
      padding-bottom: 0;
      text-align: center;
    }
    
    @media only screen and (max-width: 480px) {
      background-size: 320px;
      padding-top: 450px;
    }

    &__wrapper {
      max-width: 45%;
      margin-left: auto;

      @media only screen and (max-width: 767px) {
        max-width: 100%;
      }
    }

    p {
      font-size: 26px;
      line-height: 1.3em;
      margin: 0;
      margin-bottom: 15px;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 70px;
      line-height: 1;
      font-weight: 900;
      border-top: 2px solid darken($light-grey, 20%);
      border-bottom: 2px solid darken($light-grey, 20%);
      padding: 12px 0;

      span {
        font-size: 0.4em;
      }

      @media only screen and (max-width: 979px) {
        font-size: 50px;
      }

      @media only screen and (max-width: 767px) {
        font-size: 35px;
      }
    }

    h2 {
      margin-top: 0;
      font-size: 42px;
      line-height: 1.2;

      .small {
        font-weight: 300;
        font-size: 20px;
      }

      @media only screen and (max-width: 979px) {
        font-size: 28px;
      }

      @media only screen and (max-width: 767px) {
        line-height: 1.2;
      }
    }

    p.offers-page-hero--code {
      font-size: 34px;
      font-weight: 700;
      margin-top: 18px;
      margin-bottom: 17px;
      
      span {
        padding: 8px 20px;
        border: 2px dashed $red;
        color: $dark-grey;
      }
    }
    
    p.use,
    p.on {
      font-size: 16px;
      font-weight: 300;
      color: $dark-grey;
    }
  }

  // &-steps {
  //   padding-top: 20px;
  //   padding-bottom: 0px;
  //   /* background-color: #f7f7f7; */
  //   position: relative;
  //   z-index: 9;

  //   .container {
  //     display: -webkit-box;
  //     display: -webkit-flex;
  //     display: -moz-box;
  //     display: -ms-flexbox;
  //     display: flex;
  //     -webkit-flex-wrap: wrap;
  //     -ms-flex-wrap: wrap;
  //     flex-wrap: wrap;
  //   }

  //   &__left,
  //   &__right {
  //     -webkit-box-flex: 1;
  //     -webkit-flex: 1;
  //     -moz-box-flex: 1;
  //     -ms-flex: 1;
  //     flex: 1;
  //     text-align: center;
  //     font-size: 26px;
  //     padding: 30px 20px;
  //     /* background-color: #f5f5f5; */
  //     box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  //     margin: 10px 40px;

  //     p {
  //       font-size: 24px;
  //       margin: 0;
  //     }

  //     &--item {
  //       display: inline-block;
  //       /* padding: 0 20px;
  //       padding: 12px 15px; */
  //       margin: 15px 20px 10px 20px;
  //       /* background-color: #d3bfbf; */
  //       /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3); */
  //       position: relative;
  //       -webkit-border-radius: 5px;
  //       -moz-border-radius: 5px;
  //       border-radius: 5px;

  //       p {
  //         color: $red;
  //         font-weight: 700;
  //         font-size: 28px;
  //         line-height: 1.2em;
  //         margin-bottom: 0;
  //       }
  //     }
  //   }

  //   &__left {
  //     position: relative;

  //     &::after {
  //       content: '';
  //       position: absolute;
  //       top: 45px;
  //       right: -65px;
  //       color: #383838;
  //       height: 50px;
  //       width: 50px;
  //       background-image: url('../img/icons/arrow-down.svg');
  //       -webkit-transform: rotate(270deg);
  //       -moz-transform: rotate(270deg);
  //       -ms-transform: rotate(270deg);
  //       -o-transform: rotate(270deg);
  //       transform: rotate(270deg);
  //       background-repeat: no-repeat;
  //       background-position: center;
  //       -webkit-background-size: cover;
  //       -moz-background-size: cover;
  //       -o-background-size: cover;
  //       background-size: cover;
  //     }
  //   }

  //   @media (max-width: 767px) {
  //     padding-bottom: 10px;

  //     .container {
  //       -webkit-box-orient: vertical;
  //       -webkit-box-direction: normal;
  //       -webkit-flex-direction: column;
  //       -moz-box-orient: vertical;
  //       -moz-box-direction: normal;
  //       -ms-flex-direction: column;
  //       flex-direction: column;
  //     }

  //     &__left,
  //     &__right {
  //       margin-bottom: 50px;
  //       margin-left: 10px;
  //       margin-right: 10px;
  //       max-width: 95%;
  //     }

  //     &__left::after {
  //       top: unset;
  //       right: unset;
  //       bottom: -55px;
  //       left: 50%;
  //       -webkit-transform: translate(-50%, 0) rotate(0deg);
  //       -moz-transform: translate(-50%, 0) rotate(0deg);
  //       -ms-transform: translate(-50%, 0) rotate(0deg);
  //       -o-transform: translate(-50%, 0) rotate(0deg);
  //       transform: translate(-50%, 0) rotate(0deg);
  //     }
  //   }
  // }

  &-intro {
    padding: 50px 10%;
    // padding-top: 0px;
    margin-top: 0px;
    text-align: center;

    &--use-coupon {
      font-size: 26px;
      padding-top: 10px;
      font-weight: 700;
      line-height: 2em;
      color: $dark-grey;
    }

    small {
      color: #818181;
    }

    .pricing-row {
      margin-bottom: 20px;
    }

    .pricing-col {
      border: 1px solid $light-grey;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    h2 {
      max-width: 600px;
      margin: 20px auto 50px auto;
      line-height: 1.3em;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 30px;
      color: #383838;
    }

    &__items {
      /* display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; */
      padding: 50px 0 10px 0;
      width: 70%;
      margin: 0 auto;
    }

    &__item {

      &--left,
      &--right {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 0 30px;
      }

      /* &--right {
        flex: 2;
        text-align: left;
      } */
    }

    // &__passes-left {
    //   margin: 30px 15%;
    //   margin-top: 45px;
    //   border: 1px solid #dddddd;
    //   padding: 50px;
    //   -webkit-border-radius: 3px;
    //   -moz-border-radius: 3px;
    //   border-radius: 3px;
    //   background-color: #f2f2f2;
    //   -webkit-box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.1);
    //   -moz-box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.1);
    //   box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.1);

    //   h3 {
    //     margin-bottom: 10px;
    //   }

    //   p {
    //     font-size: 1.5em;
    //     margin-bottom: 0;
    //   }
    // }

    @media (max-width: 1200px) {
      padding: 50px 10%;
      padding-top: 20px;
      margin-top: 0px;
    }

    @media (max-width: 979px) {
      margin-top: 0px;
    }

    @media (max-width: 767px) {
      padding: 50px 2%;
      /* padding-top: 20px; */
      margin-top: 0px;
      text-align: center;

      &--clear {
        display: block;
      }
    }

    @media (max-width: 480px) {
      text-align: center;

      // &__passes-left {
      //   margin: 30px 2.5%;
      //   border: 1px solid #dddddd;
      //   padding: 50px;
      //   -webkit-border-radius: 3px;
      //   -moz-border-radius: 3px;
      //   border-radius: 3px;
      // }
    }
  }

  &-banner {
    padding: 100px 25%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: $light-grey;
    text-align: center;

    h2 {
      line-height: 1.2em;
    }

    p {
      font-size: 20px;
      margin-bottom: 0;
      line-height: 1.4em;
    }

    @media (max-width: 767px) {
      padding: 100px 5%;
      text-align: left;
    }
  }

  // &-exclusive {
  //   padding: 100px 15%;
  //   background-color: $light-grey;

  //   h2 {
  //     text-align: center;
  //     margin-bottom: 1.5em;
  //   }

  //   &__contact {
  //     text-align: center;
  //     margin-top: 50px;
  //   }

  //   @media (max-width: 979px) {
  //     padding: 100px 10%;
  //     background-color: $light-grey;
  //   }

  //   @media (max-width: 767px) {
  //     padding: 100px 5%;
  //     background-color: $light-grey;
  //   }

  //   @media (max-width: 480px) {
  //     padding: 100px 0%;
  //     background-color: $light-grey;
  //   }
  // }

  &-plans {
    &__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 30px;

      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
    }

    &__item {
      background-color: rgba(255, 255, 255, 0.25);
      /* margin: 10px; */
      -webkit-box-flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      flex: 1;
      min-width: 300px;
      max-width: 350px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #dddddd;
      margin: 0 10px;
      position: relative;

      /* &::after {
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        font-size: 18px;
        text-transform: uppercase;
        background-color: $red;
        border: 3px solid $red;
        padding: 2px;
        height: 35px;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #ffffff;
      } */

      /* &:first-child::after {
        content: 'Buy';
      } */

      /* &:last-child::after {
        content: 'Get';
        background-color: #999999;
        border: 3px solid #999999;
      } */

      &--title {
        padding: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dddddd;

        h3 {
          margin-bottom: 0;
          line-height: 1.25em;
          font-size: 1.35em;
          text-transform: uppercase;
          letter-spacing: 0px;
        }
      }

      &--body {
        padding: 20px 5%;
      }

      &--cta {
        padding: 30px;
        border-top: 1px solid #ffdddd;

        a {
          font-size: 18px;
          font-weight: 700;
        }
      }

      &--price {
        font-size: 44px;
        font-weight: 700;
        color: $red;

        &-strike {
          font-size: 24px;
          margin-bottom: 20px;
          text-decoration: line-through;
        }
      }

      &--get-cb {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        padding-top: 0px;
      }

      @media (max-width: 767px) {
        margin-top: -1px;
        margin-bottom: 20px;
      }

      @media (max-width: 480px) {
        margin: 10px;
      }
    }
  }
}

$one: #111111;

.forty40 {
  .offers-page {
    &-hero {
      background-color: $one;
      background-image: url('/assets/img/forty-40-offer.jpg');
      background-size: 600px;
      padding-top: 200px;
      padding-bottom: 250px;

      h1 {
        border: 0;
        font-size: 46px;
        font-weight: 700;
        line-height: 1.2;

        span {
          font-size: 1em;
        }

        @media only screen and (max-width: 979px) {
          font-size: 42px;
        }
        
        @media only screen and (max-width: 767px) {
          font-size: 36px;
        }
      }

      .white-angle,
      .red-angle {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 80px 100vw;
        border-color: transparent transparent $f transparent;
      }

      .red-angle {
        border-width: 0 0 100px 100vw;
        border-color: transparent transparent $red transparent;
      }

      @media only screen and (max-width: 979px) {
        background-position: calc(50% - 180px) 70%;
        background-size: 450px;
        padding-top: 100px;
      }
      
      @media only screen and (max-width: 767px) {
        background-position: center 10px;
        padding-top: 450px;
        padding-bottom: 100px;
      }
      
      @media only screen and (max-width: 480px) {
        background-size: 340px;
        padding-top: 350px;
      }
    }
  }
}

.stranger {
  .offers-page {
    &-hero {
      background: none;
      padding: 0;
      min-height: 100px;

      &__wrapper {
        margin: 10px auto;
        max-width: 100%;
      }

      .discount-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;

        @media only screen and (max-width: 767px) {
          flex-direction: column;  
        }
        
        .discount-item {
          flex: 1;
          padding: 60px 20px;
          margin: 20px;
          background-image: url('/assets/img/strange-bg.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 5px;

          @media only screen and (max-width: 767px) {
            margin-bottom: 40px;
          }

          * {
            color: $f;
          }

          h4 {
            font-size: 28px;
            margin: 0;
            line-height: 1.2;
            margin-bottom: 10px;
          }

          p {
            font-size: 20px;
            margin: 0;
          }

          &:first-child,
          &:nth-child(2) {
            position: relative;

            &::before {
              content: '+';
              position: absolute;
              right: -27.5px;
              top: 50%;
              transform: translate(0, -50%);
              font-size: 30px;
              
              @media only screen and (max-width: 767px) {
                top: calc(100% + 15px);
                right: unset;
                left: 50%;
                transform: translate(-50%, 0);
              }
            }
          }
        }
      }

      p.use,
      p.on {
        font-size: 18px;
        font-weight: 400;
      }
    }

    &-intro {
      background-image: url('/assets/img/strange-bg-large.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-top: 50px;

      .offers-page-plans__item {
        background: $f;
      }
    }
  }

  .partner-deals {
    padding: 50px 0;
  }
}

// p.move-down-icon-animate {
//   font-size: 16px !important;
//   text-align: left;
//   padding-top: 100px;
//   font-style: normal;
//   font-weight: 400;
//   -webkit-filter: opacity(0.9);
//   filter: opacity(0.9);

//   @media (max-width: 767px) {
//     display: none;
//   }
// }

// .down-arrow {
//   margin-right: 7px;
//   vertical-align: middle;
//   -webkit-animation-name: animatearrow;
//   -moz-animation-name: animatearrow;
//   -o-animation-name: animatearrow;
//   animation-name: animatearrow;
//   -webkit-animation-duration: 0.5s;
//   -moz-animation-duration: 0.5s;
//   -o-animation-duration: 0.5s;
//   animation-duration: 0.5s;
//   -webkit-animation-direction: alternate;
//   -moz-animation-direction: alternate;
//   -o-animation-direction: alternate;
//   animation-direction: alternate;
//   -webkit-animation-iteration-count: infinite;
//   -moz-animation-iteration-count: infinite;
//   -o-animation-iteration-count: infinite;
//   animation-iteration-count: infinite;

//   @media (max-width: 767px) {
//     display: none;
//   }
// }

// @-webkit-keyframes animatearrow {
//   from {
//     -webkit-transform: translateY(-3px);
//     transform: translateY(-3px);
//   }

//   to {
//     -webkit-transform: translateY(3px);
//     transform: translateY(3px);
//   }
// }

// @-moz-keyframes animatearrow {
//   from {
//     -moz-transform: translateY(-3px);
//     transform: translateY(-3px);
//   }

//   to {
//     -moz-transform: translateY(3px);
//     transform: translateY(3px);
//   }
// }

// @-o-keyframes animatearrow {
//   from {
//     -o-transform: translateY(-3px);
//     transform: translateY(-3px);
//   }

//   to {
//     -o-transform: translateY(3px);
//     transform: translateY(3px);
//   }
// }

// @keyframes animatearrow {
//   from {
//     -webkit-transform: translateY(-3px);
//     -moz-transform: translateY(-3px);
//     -o-transform: translateY(-3px);
//     transform: translateY(-3px);
//   }

//   to {
//     -webkit-transform: translateY(3px);
//     -moz-transform: translateY(3px);
//     -o-transform: translateY(3px);
//     transform: translateY(3px);
//   }
// }

// .banner-mobile {
//   display: none;

//   @media (max-width: 767px) {
//     display: block;
//   }
// }

// .countdown-timer {
//   padding-top: 45px;
// }
