@import 'variables';
@import 'globals';
@import 'components';
@import 'partials';
@import 'header';
@import 'footer';

.offer-highlight {
  background-color: $red;
  padding: 7px 12px;
  color: #ffffff;
  font-size: 28px;
  -webkit-box-shadow: 3px 3px 0px #9E1627;
  -moz-box-shadow: 3px 3px 0px #9E1627;
  box-shadow: 3px 3px 0px #9E1627;
  margin-left: 10px;
  margin-right: 12px;
}

.offer-title-highlight {
  font-size: 1.35em;
  line-height: 1.3em;
  color: $red;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
}

.offers-page {
  &-hero {
    /* margin-top: -100px; */
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url('../img/fitato-holi-offer.jpg');
    background-position: 15% center;
    -webkit-background-size: 450px;
    -moz-background-size: 450px;
    background-size: 450px;
    background-repeat: no-repeat;
    /* color: #ffffff; */
    /* border-bottom: 2px solid #f7f7f7; */
    position: relative;
    min-height: 550px;
    margin-bottom: -1px;
    text-align: center;

    /* &--prop__top-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 7%;
      margin: 0;
    }
  
    &--prop__bottom-left {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 12%;
      margin: 0;
    } */

    &__wrapper {
      width: 55%;
      margin-left: auto;
    }

    p {
      font-size: 19px;
      line-height: 1.3em;
      margin-bottom: 0;
      margin-top: 0;
    }

    h1 {
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: 68px;
      line-height: 0.85em;
      color: $red;
      font-weight: 700;
      font-size: 3.3em;

      .normal {
        font-size: 0.75em;
      }
    }

    /* @media (min-width: 1440px) {
      min-height: 750px;
    } */

    @media (max-width: 979px) {
      h1 {
        font-size: 3em;
      }
    }

    @media (max-width: 767px) {
      min-height: 100vh;
      padding-top: 30px;
      padding-bottom: 0px;
      padding-left: 5%;
      padding-right: 5%;
      -webkit-background-size: 350px;
      -moz-background-size: 350px;
      background-size: 350px;
      background-position: top;

      &__wrapper {
        width: 100%;
      }

      h1 {
        font-size: 38px;
        margin-top: 350px;
      }

      &--prop__top-right {
        display: none;
      }

      &--prop__bottom-left {
        display: none;
      }

      p {
        font-size: 24px;
        line-height: 1.4em;
      }
    }

    @media (max-width: 380px) {
      h1 {
        font-size: 34px;
      }
    }
  }

  // &-steps {
  //   padding-top: 20px;
  //   padding-bottom: 0px;
  //   /* background-color: #f7f7f7; */
  //   position: relative;
  //   z-index: 9;

  //   .container {
  //     display: -webkit-box;
  //     display: -webkit-flex;
  //     display: -moz-box;
  //     display: -ms-flexbox;
  //     display: flex;
  //     -webkit-flex-wrap: wrap;
  //     -ms-flex-wrap: wrap;
  //     flex-wrap: wrap;
  //   }

  //   &__left,
  //   &__right {
  //     -webkit-box-flex: 1;
  //     -webkit-flex: 1;
  //     -moz-box-flex: 1;
  //     -ms-flex: 1;
  //     flex: 1;
  //     text-align: center;
  //     font-size: 26px;
  //     padding: 30px 20px;
  //     /* background-color: #f5f5f5; */
  //     box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  //     margin: 10px 40px;

  //     p {
  //       font-size: 24px;
  //       margin: 0;
  //     }

  //     &--item {
  //       display: inline-block;
  //       /* padding: 0 20px;
  //       padding: 12px 15px; */
  //       margin: 15px 20px 10px 20px;
  //       /* background-color: #d3bfbf; */
  //       /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3); */
  //       position: relative;
  //       -webkit-border-radius: 5px;
  //       -moz-border-radius: 5px;
  //       border-radius: 5px;

  //       p {
  //         color: $red;
  //         font-weight: 700;
  //         font-size: 28px;
  //         line-height: 1.2em;
  //         margin-bottom: 0;
  //       }
  //     }
  //   }

  //   &__left {
  //     position: relative;

  //     &::after {
  //       content: '';
  //       position: absolute;
  //       top: 45px;
  //       right: -65px;
  //       color: #383838;
  //       height: 50px;
  //       width: 50px;
  //       background-image: url('../img/icons/arrow-down.svg');
  //       -webkit-transform: rotate(270deg);
  //       -moz-transform: rotate(270deg);
  //       -ms-transform: rotate(270deg);
  //       -o-transform: rotate(270deg);
  //       transform: rotate(270deg);
  //       background-repeat: no-repeat;
  //       background-position: center;
  //       -webkit-background-size: cover;
  //       -moz-background-size: cover;
  //       -o-background-size: cover;
  //       background-size: cover;
  //     }
  //   }

  //   @media (max-width: 767px) {
  //     padding-bottom: 10px;

  //     .container {
  //       -webkit-box-orient: vertical;
  //       -webkit-box-direction: normal;
  //       -webkit-flex-direction: column;
  //       -moz-box-orient: vertical;
  //       -moz-box-direction: normal;
  //       -ms-flex-direction: column;
  //       flex-direction: column;
  //     }

  //     &__left,
  //     &__right {
  //       margin-bottom: 50px;
  //       margin-left: 10px;
  //       margin-right: 10px;
  //       max-width: 95%;
  //     }

  //     &__left::after {
  //       top: unset;
  //       right: unset;
  //       bottom: -55px;
  //       left: 50%;
  //       -webkit-transform: translate(-50%, 0) rotate(0deg);
  //       -moz-transform: translate(-50%, 0) rotate(0deg);
  //       -ms-transform: translate(-50%, 0) rotate(0deg);
  //       -o-transform: translate(-50%, 0) rotate(0deg);
  //       transform: translate(-50%, 0) rotate(0deg);
  //     }
  //   }
  // }

  &-intro {
    padding: 50px 10%;
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;

    &--use-coupon {
      font-size: 26px;
      padding-top: 10px;
      font-weight: 700;
      line-height: 2em;
      color: $dark-grey;
    }

    small {
      color: #818181;
    }

    .pricing-row {
      margin-bottom: 20px;
    }

    .pricing-col {
      border: 1px solid $light-grey;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    h2 {
      max-width: 600px;
      margin: 20px auto 50px auto;
      line-height: 1.3em;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 30px;
      color: #383838;
    }

    &__items {
      /* display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; */
      padding: 50px 0 10px 0;
      width: 70%;
      margin: 0 auto;
    }

    &__item {

      &--left,
      &--right {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 0 30px;
      }

      /* &--right {
        flex: 2;
        text-align: left;
      } */
    }

    // &__passes-left {
    //   margin: 30px 15%;
    //   margin-top: 45px;
    //   border: 1px solid #dddddd;
    //   padding: 50px;
    //   -webkit-border-radius: 3px;
    //   -moz-border-radius: 3px;
    //   border-radius: 3px;
    //   background-color: #f2f2f2;
    //   -webkit-box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.1);
    //   -moz-box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.1);
    //   box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.1);

    //   h3 {
    //     margin-bottom: 10px;
    //   }

    //   p {
    //     font-size: 1.5em;
    //     margin-bottom: 0;
    //   }
    // }

    @media (max-width: 1200px) {
      padding: 50px 10%;
      padding-top: 20px;
      margin-top: 0px;
    }

    @media (max-width: 979px) {
      margin-top: 0px;
    }

    @media (max-width: 767px) {
      padding: 50px 2%;
      /* padding-top: 20px; */
      margin-top: 0px;
      text-align: center;

      &--clear {
        display: block;
      }
    }

    @media (max-width: 480px) {
      text-align: center;

      // &__passes-left {
      //   margin: 30px 2.5%;
      //   border: 1px solid #dddddd;
      //   padding: 50px;
      //   -webkit-border-radius: 3px;
      //   -moz-border-radius: 3px;
      //   border-radius: 3px;
      // }
    }
  }

  &-banner {
    padding: 100px 25%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: $light-grey;
    text-align: center;

    h2 {
      line-height: 1.2em;
    }

    p {
      font-size: 20px;
      margin-bottom: 0;
      line-height: 1.4em;
    }

    @media (max-width: 767px) {
      padding: 100px 5%;
      text-align: left;
    }
  }

  // &-exclusive {
  //   padding: 100px 15%;
  //   background-color: $light-grey;

  //   h2 {
  //     text-align: center;
  //     margin-bottom: 1.5em;
  //   }

  //   &__contact {
  //     text-align: center;
  //     margin-top: 50px;
  //   }

  //   @media (max-width: 979px) {
  //     padding: 100px 10%;
  //     background-color: $light-grey;
  //   }

  //   @media (max-width: 767px) {
  //     padding: 100px 5%;
  //     background-color: $light-grey;
  //   }

  //   @media (max-width: 480px) {
  //     padding: 100px 0%;
  //     background-color: $light-grey;
  //   }
  // }

  &-plans {
    &__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 30px;

      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
    }

    &__item {
      background-color: rgba(255, 255, 255, 0.25);
      /* margin: 10px; */
      -webkit-box-flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      flex: 1;
      min-width: 300px;
      max-width: 350px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #dddddd;
      margin: 0 10px;
      position: relative;

      /* &::after {
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        font-size: 18px;
        text-transform: uppercase;
        background-color: $red;
        border: 3px solid $red;
        padding: 2px;
        height: 35px;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #ffffff;
      } */

      /* &:first-child::after {
        content: 'Buy';
      } */

      /* &:last-child::after {
        content: 'Get';
        background-color: #999999;
        border: 3px solid #999999;
      } */

      &--title {
        padding: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dddddd;

        h3 {
          margin-bottom: 0;
          line-height: 1.25em;
          font-size: 1.35em;
          text-transform: uppercase;
          letter-spacing: 0px;
        }
      }

      &--body {
        padding: 20px 5%;
      }

      &--cta {
        padding: 30px;
        border-top: 1px solid #ffdddd;

        a {
          font-size: 18px;
          font-weight: 700;
        }
      }

      &--price {
        font-size: 44px;
        font-weight: 700;
        color: $red;

        &-strike {
          font-size: 24px;
          margin-bottom: 20px;
          text-decoration: line-through;
        }
      }

      &--get-cb {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        padding-top: 0px;
      }

      @media (max-width: 767px) {
        margin-top: -1px;
      }

      @media (max-width: 480px) {
        margin: 10px;
      }
    }
  }
}

.fit-55 {
  .offers-page {
    &-hero {
      background-image: url('../img/start-fitness-journey.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      text-align: left;
      padding-top: 100px;
      padding-bottom: 0;
      overflow: auto;
      min-height: 100vh;
      
      /* @media (max-width: 1200px) {
        background-position: right 30%;
        -webkit-background-size: 50% 50%;
        -moz-background-size: 50%;
        background-size: 50%;
      } */

      @media (max-width: 979px) {
        min-height: 550px;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        background-position: top;
        padding-top: 60px;
      }

      @media only screen and (max-width: 767px) {
        background-color: #E61B21;
        background-position: 10% top;
        background-size: 150%;
        min-height: 600px;
        padding-bottom: 50px;
        padding-top: 100px;
      }
      
      /* @media (max-width: 480px) {
        background-position: 450% 65%;
        -webkit-background-size: 90% 90%;
        -moz-background-size: 90%;
        background-size: 90%;
        padding-top: 50px;
        position: relative;
        padding-bottom: 35%;
        min-height: 400px;
      } */

      @media (max-width: 380px) {
        min-height: 550px;
      }

      &__wrapper {
        margin: 0;
        width: 35%;
        margin-left: auto;
        padding-right: 20px;
        padding-left: 5%;
        margin-top: 20vh;

        @media (max-width: 979px) {
          margin-top: 0;
        }

        @media (max-width: 767px) {
          width: 100%;
          padding-right: 0px;
          padding-left: 0px;
          margin-top: 450px;
          margin-top: 65vw;
          padding-bottom: 10vw;
        }

        @media (max-width: 480px) {
          padding-bottom: 0;
        }
      }

      h1 {
        font-size: 3em;
        font-style: italic;
        color: $red;
        font-weight: 900;
        margin-bottom: 20px;
        margin-top: 0;
        line-height: 1.1;

        @media (max-width: 979px) {
          font-size: 2.5em;
        }

        @media (max-width: 767px) {
          margin-top: 10px;
          font-size: 2em;
        }

        @media (max-width: 480px) {
          font-size: 1.7em;
        }
      }

      h2 {
        font-size: 1.7em;
        font-weight: 900;
        line-height: 1;
        color: $dark-grey;
        margin-bottom: 5px;
        font-style: italic;

        @media (max-width: 767px) {
          font-size: 1.4em;
        }

        @media (max-width: 380px) {
          font-size: 1.2em;
        }
      }

      p.focus {
        font-size: 1.5em;
        // font-size: 2.5em;
        color: #ffffff;
        margin-bottom: 50px;
        margin-bottom: 15px;
        font-weight: 400;
        margin-top: 5px;
        line-height: 1.2;

        @media (max-width: 767px) {
          font-size: 1.2em;
        }
      }

      p {
        @media (max-width: 767px) {
          font-size: 1.3em;
        }
      }
    }

    &-intro {
      padding-top: 50px;
      // margin-top: -50px;
      z-index: 99;
      position: relative;
    }
  }
}

p.move-down-icon-animate {
  font-size: 16px !important;
  text-align: left;
  padding-top: 100px;
  font-style: normal;
  font-weight: 400;
  -webkit-filter: opacity(0.9);
  filter: opacity(0.9);

  @media (max-width: 767px) {
    display: none;
  }
}

.black {
  color: $dark-grey;
}

// .down-arrow {
//   margin-right: 7px;
//   vertical-align: middle;
//   -webkit-animation-name: animatearrow;
//   -moz-animation-name: animatearrow;
//   -o-animation-name: animatearrow;
//   animation-name: animatearrow;
//   -webkit-animation-duration: 0.5s;
//   -moz-animation-duration: 0.5s;
//   -o-animation-duration: 0.5s;
//   animation-duration: 0.5s;
//   -webkit-animation-direction: alternate;
//   -moz-animation-direction: alternate;
//   -o-animation-direction: alternate;
//   animation-direction: alternate;
//   -webkit-animation-iteration-count: infinite;
//   -moz-animation-iteration-count: infinite;
//   -o-animation-iteration-count: infinite;
//   animation-iteration-count: infinite;

//   @media (max-width: 767px) {
//     display: none;
//   }
// }

// @-webkit-keyframes animatearrow {
//   from {
//     -webkit-transform: translateY(-3px);
//     transform: translateY(-3px);
//   }

//   to {
//     -webkit-transform: translateY(3px);
//     transform: translateY(3px);
//   }
// }

// @-moz-keyframes animatearrow {
//   from {
//     -moz-transform: translateY(-3px);
//     transform: translateY(-3px);
//   }

//   to {
//     -moz-transform: translateY(3px);
//     transform: translateY(3px);
//   }
// }

// @-o-keyframes animatearrow {
//   from {
//     -o-transform: translateY(-3px);
//     transform: translateY(-3px);
//   }

//   to {
//     -o-transform: translateY(3px);
//     transform: translateY(3px);
//   }
// }

// @keyframes animatearrow {
//   from {
//     -webkit-transform: translateY(-3px);
//     -moz-transform: translateY(-3px);
//     -o-transform: translateY(-3px);
//     transform: translateY(-3px);
//   }

//   to {
//     -webkit-transform: translateY(3px);
//     -moz-transform: translateY(3px);
//     -o-transform: translateY(3px);
//     transform: translateY(3px);
//   }
// }

/* Big Triangle */

// svg#bigTriangleColor {
//   pointer-events: none;
//   -webkit-transform: translateY(-100%);
//   -moz-transform: translateY(-100%);
//   -ms-transform: translateY(-100%);
//   -o-transform: translateY(-100%);
//   transform: translateY(-100%);
//   background-color: #ffffff;

//   path {
//     fill: #eeeeee;
//     /* stroke: #005c5c; */
//   }
// }

// .tri-svg {
//   -webkit-transform: translateY(-100%);
//   -moz-transform: translateY(-100%);
//   -ms-transform: translateY(-100%);
//   -o-transform: translateY(-100%);
//   transform: translateY(-100%);
//   pointer-events: none;
//   margin: 0;
//   padding: 0;
// }

.banner-mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

// .countdown-timer {
//   padding-top: 45px;
// }

p.offers-page-hero--code {
  font-size: 2.5em;
  font-size: 1.75em;
  font-weight: 700;
  margin: 25px 0;

  span {
    padding: 15px 20px;
    border: 2px dashed #4b4b4b;
    border-color: #ffffff;
    color: $yellow;
  }
}

// WEFIT Offer Page
/* 
.wefit .offers-page {
  &-hero {
    background-image: url('../img/fitato-offer-bg-wefit.jpg');
    background-position: center;
    background-size: contain;
    background-color: $red;

    p {
      color: $yellow;
      font-weight: 400;
      font-size: 34px;
    }

    h1 {
      font-size: 48px;
    }

    @media only screen and (max-width: 767px) {
      background-image: unset;
      padding: 50px 3%;
      padding-top: 2px;
      text-align: center;

      img {
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 20px;
      }

      &__wrapper {
        width: 100%;
      }
      
      p, h1 {
        padding-right: 0;
      }

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 28px;
      }
    }
  }

  &-intro {
    padding-top: 50px;

    h2 {
      margin-bottom: 30px;
    }

    &--use-coupon {
      font-size: 24px;

      @media only screen and (max-width: 767px) {
        font-size: 20px;

        .offer-highlight {
          font-size: 22px;
        }
      }
    }

    &--later {
      font-size: 20px;
      margin-top: 40px;
    }
  }

  &-plans__item--price {
    margin-top: 30px;
  }
}

.famfit {
 .offers-page {
    &-hero {
      background-image: url('../img/fitato-offer-bg-famfit.jpg');
      
      @media only screen and (max-width: 767px) {
        background-image: unset;
      }
    }

    &-intro {
      h2 {
        margin-bottom: 10px;
      }

      @media only screen and (max-width: 767px) {
        h2 {
          margin-bottom: 15px;
        }
      }
      &__row-plans {
        padding: 20px 20%;

        .button {
          max-width: 250px;
          font-size: 20px;
        }

        h3 {
          margin-bottom: 10px;
        }

        @media only screen and (max-width: 767px) {
          padding: 20px 10%;
        }
        
        @media only screen and (max-width: 480px) {
          padding: 20px 5%;
        }
      }
    }
  }
} */

/* .offer-title-highlight {
  text-transform: none;
  line-height: 1.3em;

  @media only screen and (max-width: 480px) {
    font-size: 20px;
  }
} */