doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(name='image', content='https://www.fitato.fit/static/fitato-one-pass-to-all.jpg')
    meta(itemprop='name', content='Fitato®: Fitness for the Intelligent Indian')
    meta(itemprop='description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(itemprop='image', content='https://www.fitato.fit/static/fitato-one-pass-to-all.jpg')
    meta(name='apple-itunes-app', content='app-id=1300323768')
    meta(name='google-play-app', content='app-id=fit.fitato.health')
    meta(name='twitter:card', content='app')
    meta(name='twitter:title', content='Fitato®: Fitness for the Intelligent Indian')
    meta(name='twitter:description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(name='twitter:site', content='@FitatoFit')
    meta(name='twitter:creator', content='@FitatoFit')
    meta(name='twitter:image:src', content='https://www.fitato.fit/static/fitato-one-pass-to-all.jpg')
    meta(name='twitter:app:id:iphone', content='1300323768')
    meta(name='twitter:app:name:iphone', content='Fitato')
    meta(name='twitter:app:id:googleplay', content='fit.fitato.health')
    meta(name='twitter:app:name:googleplay', content='Fitato: One Pass to Fitness')
    meta(property='og:title', content='Fitato®: Fitness for the Intelligent Indian')
    meta(property='og:description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(property='og:image', content='https://www.fitato.fit/static/fitato-one-pass-to-all.jpg')
    meta(property='og:url', content='https://www.fitato.fit')
    meta(property='og:site_name', content='Fitato')
    meta(property='og:type', content='website')
    meta(name='al:ios:app_store_id', content='1300323768')
    meta(name='al:ios:app_name', content='Fitato')
    meta(name='al:android:package', content='fit.fitato.health')
    meta(name='al:android:app_name', content='Fitato: One Pass to Fitness')
    title Valentine's Special "You &amp; Me" Offer | Fitato
    script.
      !function(e,t,a,n,g){e[n]=e[n]||[],e[n].push({"gtm.start":(new Date).getTime(),event:"gtm.js"});var m=t.getElementsByTagName(a)[0],r=t.createElement(a);r.async=!0,r.src="https://www.googletagmanager.com/gtm.js?id=GTM-M6HNZB",m.parentNode.insertBefore(r,m)}(window,document,"script","dataLayer");
    link(rel='shortcut icon', type='image/png', href='https://www.fitato.fit/static/fitato-icon-16.png')
    link(rel='apple-touch-icon', href='https://www.fitato.fit/static/fitato-icon-57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='https://www.fitato.fit/static/fitato-icon-72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='https://www.fitato.fit/static/fitato-icon-114.png')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i', rel='stylesheet')
    link(rel='stylesheet', href='../assets/css/style.css')
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-M6HNZB', height='0', width='0', style='display:none;visibility:hidden')
    nav.main-header
      .container
        a.menu-icon-link(href='https://www.fitato.fit')
          img(src='../assets/img/fitato-logo-colored.svg', title='Fitato', alt='fitato logo')
        a.menu-link(href='tel:+918200396237') Contact us
    main.val-cust.val-lead
      .offers-page-hero
        .container
          .offers-page-hero__wrapper
            h1 Valentine’s Day Special
            .line
            p One For Me And One For You Offer
              //- br
              //- | One more reason. One less excuse.
            //- img(src="", alt="offer").banner-mobile
            p.move-down-icon-animate
              img.down-arrow(src='../assets/img/icons/arrow-down.svg', width='25', alt='down arrow')
              | Scroll down for the exclusive Valentine's offer
        //- .tri-fly
        //- .tri-fly-2

      .offers-page-intro
        .container
          //p.offer-title-highlight Love Extra Dose Offer
          h2 Get 2 Quarterly Fitato Passes At ₹8,000 Only
          .offer-page-intro__items
            .offer-page-intro__item
              //p.offers-page-plans__item--price ₹5,499
              h3 Fitato Quarterly For Yourself
                br
                | (3 Months)
              p Get unlimited access to every Fitato partner facility for 3 months!
            .offer-page-intro__item
              //.offers-page-plans__item--price FREE
              h3 Fitato Quarterly For Your Loved One
                br
                | (3 Months)
              p Get unlimited access to every Fitato partner facility for 3 months!
            .offer-page-intro__item
              p.offers-page-plans__item--price-strike ₹10,998
              p.offers-page-plans__item--price ₹8,000
              a(href="https://imjo.in/5ucqEd").button.offer-cta Buy Now
              p &amp; Activate Later
          .clear
          small
            | * Offer valid till 15
            sup th
            |  February 2019 only.
          br
          small * Offer valid for first-time users only.

          div(style='margin-top: 50px')
            h4(style='margin-bottom: 5px') Have questions? Let us help.
            a.button-inverted(href='tel:+918200396237') Talk to us
      .offers-page-banner
        .container
          h2 Don’t Just Wish For A Good Body, Work For It!
          p Work out in over 300+ gyms &amp; fitness studios with your single-access Fitato Pass. Come, fall in love with fitness.
      .partial-download-swipe
        .container
          .partial-download-swipe__left
            h2 Download the Fitato App
            p
              | Swim your way to Zumba via MMA and Yoga! Experiment each day with a new adventure and push your body to the limits with your Fitato Pass.
            .partial-app-icons
              a(href='https://play.google.com/store/apps/details?id=fit.fitato.health&hl=en', target='_blank', rel='noopener noreferrer')
                img.partial-app-icon(src='../assets/img/icons/google-play-store.svg', alt='fitato on google play store')
              a(href='https://itunes.apple.com/in/app/fitato/id1300323768', target='_blank', rel='noopener noreferrer')
                img.partial-app-icon(src='../assets/img/icons/apple-app-store.svg', alt='fitato on app store')
          .partial-download-swipe__right
            img(src='../assets/img/fitato-app.png', alt='download fitato smartphone app')
    footer.footer-copyright
      .container
        small © 2018 Fitato Health Solutions Private Limited.
        div
          small
            a(href='https://www.fitato.fit/privacy-policy') Privacy Policy
