mixin footer
  footer.footer-copyright
    .container
      small © 2018 Fitato Health Solutions Private Limited.
      div
        small
          a(href='https://www.fitato.fit/privacy-policy', target="_blank", rel="noreferrer noopener") Privacy Policy
