mixin footer
  footer.footer-copyright
    .container
      small © 2020 Fitato Health Solutions Private Limited.
      div
        small
          a(href='https://www.fitato.fit/privacy-policy', target="_blank", rel="noreferrer noopener") Privacy Policy

  script var Tawk_API=Tawk_API||{},Tawk_LoadStart=new Date;!function(){var e=document.createElement("script"),t=document.getElementsByTagName("script")[0];e.async=!0,e.src="https://embed.tawk.to/5bddee4a4cfbc9247c1e9aab/default",e.charset="UTF-8",e.setAttribute("crossorigin","*"),t.parentNode.insertBefore(e,t)}();
