mixin wishWork
  section.offers-page-banner
    .container
      h2 Don’t Just Wish For A Good Body, Work For It!
      p Work out in over 300+ gyms &amp; fitness studios with your single-access Fitato Pass. Come, fall in love with fitness.
