include ../components/_index.pug
doctype html
html(lang='en')
  +head('Get Fitato Quarterly Pass at Flat ₹4444')

  body
    +nav

    main(style="overflow: hidden;").forty40
      .offers-page-hero
        .red-angle
        .white-angle
        .container
          .offers-page-hero__wrapper
            //- h1.italic.white.light The 
            //-   span.red.extra-bold Ultimate
            //-   |  Offer
            img(src="/assets/img/fitness-freedom-sale.png", alt="the fitness freedom sale")
            h2.italic.white Fitato Quarterly Pass
              br
              span.normal(style="font-size: 0.95em;") At 
                span.strikethrough ₹5499
                span.red.bold  ₹4444 
                | only
            //- p.italic.white.light(style="margin-bottom: 45px; opacity: 0.9") On All Fitato Passes
            //- .line
            //- p.focus Flat 
            //-   span.bold.yellow 25% Off 
            //-   br.d-none-sm
            //-   | On All Fitato Passes
            //- img(src="", alt="offer").banner-mobile
            //- p.move-down-icon-animate
            //-   img.down-arrow(src='assets/img/icons/arrow-down.svg', width='25', alt='down arrow')
            //-   | Scroll down for the exclusive offer
            p.use.white(style="margin-top: 30px") Use Coupon Code:
            p.offers-page-hero--code
              span.white IND44
            p.on.white On Your Fitato App

      //- .offers-page-steps
      //-   .container
      //-     .offers-page-steps__left
      //-       p
      //-         strong BUY
      //-       .offers-page-steps__left--item
      //-         p Any Fitato Membership
      //-     .offers-page-steps__right
      //-       p
      //-         strong GET
      //-       .offers-page-steps__left--item
      //-         p 20% Discount + 30% Cashback
      .offers-page-intro
        .container
          //- p.offer-title-highlight Republic Day Offer
          //- h2 Purchase Any Fitato Membership and Get 50% Cashback In Your Fitato Wallet
          //- p.offers-page-intro--use-coupon
          //-   | Use Coupon Code
          //-   span.offer-highlight FLASH50
          //-   span.offer-highlight--clear on your Fitato App
          p(style='font-size: 1.3em; font-weight: 700; padding-top: 10px') OR
          p(style='font-size: 1.3em; font-weight: 700; margin-bottom: 0') Pre-Book Now:
          .offers-page-plans__items
            .offers-page-plans__item
              .offers-page-plans__item--title
                h3
                  | Fitato Quarterly
                  br
                  small.normal (3 months)
              .offers-page-plans__item--body
                p
                  | Get unlimited access to every Fitato partner facility for three months.
                p.offers-page-plans__item--price-strike ₹5,499
                p.offers-page-plans__item--price ₹4,444
                //- p.offers-page-plans__item--get-cb Get Cashback: ₹2,199
              .offers-page-plans__item--cta
                a.button.button-fluid(href='https://www.instamojo.com/@fitato/ld9d8d9ad7e7449ee9d1f17fbd76f8243/', target='_blank', rel='noopener noreferrer') Buy Now
            //- .offers-page-plans__item
            //-   .offers-page-plans__item--title
            //-     h3
            //-       | Fitato Bi-Monthly
            //-       br
            //-       small.normal (2 months)
            //-   .offers-page-plans__item--body
            //-     p
            //-       | Get unlimited  access to every Fitato partner facility for two months.
            //-     p.offers-page-plans__item--price-strike ₹3,899
            //-     p.offers-page-plans__item--price ₹3,119
            //-     p.offers-page-plans__item--get-cb Get Cashback: ₹1,559
            //-   .offers-page-plans__item--cta
            //-     a.button.button-fluid(href='https://imjo.in/DmymrK', target='_blank', rel='noopener noreferrer') Buy Now
            //- .offers-page-plans__item
            //-   .offers-page-plans__item--title
            //-     h3
            //-       | Fitato Monthly
            //-       br
            //-       small.normal (1 month)
            //-   .offers-page-plans__item--body
            //-     p
            //-       | Get unlimited access to every Fitato partner facility for one month.
            //-     p.offers-page-plans__item--price-strike ₹2,199
            //-     p.offers-page-plans__item--price ₹1,759
            //-     p.offers-page-plans__item--get-cb Get Cashback: ₹879
            //-   .offers-page-plans__item--cta
            //-     a.button.button-fluid(href='https://imjo.in/q5K9jZ', target='_blank', rel='noopener noreferrer') Buy Now

          small
            | * Offer valid till 15
            sup th
            |  August 2019 for existing customers only.
          //- br
          //- small * Not valid on payment made through Fitato wallet.
          br
          small * Pass can be activated later.
          div(style='margin-top: 50px')
            h4(style='margin-bottom: 5px') Have questions? Let us help.
            a.button(href='tel:+918448448546') Talk to us

      +wishWork
      +downloadApp
    +footer
