include components/_index.pug
doctype html
html(lang='en')
  +head('Get Flat 15% Off + 30% Cashback + Exclusive Deals On Fitato Partner Products')

  body
    +nav

    main(style="overflow: hidden;").stranger
      img(src="/assets/img/stranger-deals.jpg", alt="fitato stranger deals", style="width: 100%;max-height: 720px; object-fit: cover;")
      .offers-page-hero
        .container
          .offers-page-hero__wrapper.align-center
            //- h1.uppercase.italic.red(style="display: inline-block") Just July
            //-   span Offer
            //- h2.italic Flat 
            //-   span.red 25%
            //-   |  Off +
            //-   br
            //-   span.red 20%
            //-   |  Cashback
            //- p.italic(style="margin-bottom: 45px") On All Fitato Passes
            //- .line
            //- p.focus Flat 
            //-   span.bold.yellow 25% Off 
            //-   br.d-none-sm
            //-   | On All Fitato Passes
            //- img(src="", alt="offer").banner-mobile
            //- p.move-down-icon-animate
            //-   img.down-arrow(src='assets/img/icons/arrow-down.svg', width='25', alt='down arrow')
            //-   | Scroll down for the exclusive offer
            .discount-items.center
              .discount-item
                h4 Flat 15% Discount
                p On All Fitato Passes
              .discount-item
                h4 Flat 30% Cashback
                p On All Fitato Passes
              .discount-item
                h4 Exclusive Deals On
                p Fitato Partner Products
            p.use Use Coupon Code:
            p.offers-page-hero--code
              span STRANGER
            p.on On Your Fitato App
            p.black(style='font-size: 1.3em; font-weight: 700; padding-top: 10px') OR
            p.black(style='font-size: 1.3em; margin-bottom: 0') Pre-Book Here:

      //- .offers-page-steps
      //-   .container
      //-     .offers-page-steps__left
      //-       p
      //-         strong BUY
      //-       .offers-page-steps__left--item
      //-         p Any Fitato Membership
      //-     .offers-page-steps__right
      //-       p
      //-         strong GET
      //-       .offers-page-steps__left--item
      //-         p 20% Discount + 30% Cashback
      .offers-page-intro
        .container
          //- p.offer-title-highlight Republic Day Offer
          //- h2 Purchase Any Fitato Membership and Get 50% Cashback In Your Fitato Wallet
          //- p.offers-page-intro--use-coupon
          //-   | Use Coupon Code
          //-   span.offer-highlight FLASH50
          //-   span.offer-highlight--clear on your Fitato App
          
          .offers-page-plans__items
            .offers-page-plans__item
              .offers-page-plans__item--title
                h3
                  | Fitato Quarterly
                  br
                  small.normal (3 months)
              .offers-page-plans__item--body
                p
                  | Get unlimited access to every Fitato partner facility for three months.
                p.offers-page-plans__item--price-strike ₹5,499
                p.offers-page-plans__item--price ₹4,674
                p.offers-page-plans__item--get-cb Get Cashback: ₹1,408
              .offers-page-plans__item--cta
                a.button.button-fluid(href='https://imjo.in/NVvBPJ', target='_blank', rel='noopener noreferrer') Buy Now
            .offers-page-plans__item
              .offers-page-plans__item--title
                h3
                  | Fitato Bi-Monthly
                  br
                  small.normal (2 months)
              .offers-page-plans__item--body
                p
                  | Get unlimited  access to every Fitato partner facility for two months.
                p.offers-page-plans__item--price-strike ₹3,899
                p.offers-page-plans__item--price ₹3,314
                p.offers-page-plans__item--get-cb Get Cashback: ₹994
              .offers-page-plans__item--cta
                a.button.button-fluid(href='https://imjo.in/Qy4GTG', target='_blank', rel='noopener noreferrer') Buy Now
            .offers-page-plans__item
              .offers-page-plans__item--title
                h3
                  | Fitato Monthly
                  br
                  small.normal (1 month)
              .offers-page-plans__item--body
                p
                  | Get unlimited access to every Fitato partner facility for one month.
                p.offers-page-plans__item--price-strike ₹2,199
                p.offers-page-plans__item--price ₹1,869
                p.offers-page-plans__item--get-cb Get Cashback: ₹560
              .offers-page-plans__item--cta
                a.button.button-fluid(href='https://imjo.in/Ky9p4W', target='_blank', rel='noopener noreferrer') Buy Now

          

      .partner-deals.align-center
        .container
          h3 Fitato Partner Deals
          img(src="/assets/img/partner-deals-1.png", alt="fitato partner deals")
          img(src="/assets/img/partner-deals-2.png", alt="fitato partner deals")

          div(style='margin-top: 30px')
            small
              | * Offer valid till 15
              sup th
              |  July 2019 for first time customers only.
            //- br
            //- small * Not valid on payment made through Fitato wallet.
            br
            small * Pass can be activated later.
          div(style='margin-top: 30px')
            h4(style='margin-bottom: 5px') Have questions? Let us help.
            a.button-inverted(href='tel:+918448448546') Talk to us

      +wishWork
      +downloadApp
    +footer
