doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(name='image', content='https://www.fitato.fit/static/fitato-one-pass-to-all.jpg')
    meta(itemprop='name', content='Fitato®: Fitness for the Intelligent Indian')
    meta(itemprop='description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(itemprop='image', content='https://www.fitato.fit/static/fitato-one-pass-to-all.jpg')
    meta(name='apple-itunes-app', content='app-id=1300323768')
    meta(name='google-play-app', content='app-id=fit.fitato.health')
    meta(name='twitter:card', content='app')
    meta(name='twitter:title', content='Fitato®: Fitness for the Intelligent Indian')
    meta(name='twitter:description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(name='twitter:site', content='@FitatoFit')
    meta(name='twitter:creator', content='@FitatoFit')
    meta(name='twitter:image:src', content='https://www.fitato.fit/static/fitato-one-pass-to-all.jpg')
    meta(name='twitter:app:id:iphone', content='1300323768')
    meta(name='twitter:app:name:iphone', content='Fitato')
    meta(name='twitter:app:id:googleplay', content='fit.fitato.health')
    meta(name='twitter:app:name:googleplay', content='Fitato: One Pass to Fitness')
    meta(property='og:title', content='Fitato®: Fitness for the Intelligent Indian')
    meta(property='og:description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(property='og:image', content='https://www.fitato.fit/static/fitato-one-pass-to-all.jpg')
    meta(property='og:url', content='https://www.fitato.fit')
    meta(property='og:site_name', content='Fitato')
    meta(property='og:type', content='website')
    meta(name='al:ios:app_store_id', content='1300323768')
    meta(name='al:ios:app_name', content='Fitato')
    meta(name='al:android:package', content='fit.fitato.health')
    meta(name='al:android:app_name', content='Fitato: One Pass to Fitness')
    title Flat 25% Off On Every Fitato Pass
    script.
      !function(e,t,a,n,g){e[n]=e[n]||[],e[n].push({"gtm.start":(new Date).getTime(),event:"gtm.js"});var m=t.getElementsByTagName(a)[0],r=t.createElement(a);r.async=!0,r.src="https://www.googletagmanager.com/gtm.js?id=GTM-M6HNZB",m.parentNode.insertBefore(r,m)}(window,document,"script","dataLayer");
    link(rel='shortcut icon', type='image/png', href='https://www.fitato.fit/static/fitato-icon-16.png')
    link(rel='apple-touch-icon', href='https://www.fitato.fit/static/fitato-icon-57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='https://www.fitato.fit/static/fitato-icon-72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='https://www.fitato.fit/static/fitato-icon-114.png')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900,900i', rel='stylesheet')
    link(rel='stylesheet', href='/assets/css/style.css')
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-M6HNZB', height='0', width='0', style='display:none;visibility:hidden')
    nav.main-header
      .container
        a.menu-icon-link(href='https://www.fitato.fit')
          img(src='/assets/img/fitato-logo-colored.svg', title='Fitato', alt='fitato logo')
        a.menu-link(href='tel:+918448448546') Contact us
    main(style="overflow: hidden;")
      .offers-page-hero
        .offers-page-hero--rect
        .container
          .offers-page-hero__wrapper
            h1 Flat 
              span.bold 25% Off
            h2 On All Fitato Passes
            //- .line
            //- p.focus Flat 
            //-   span.bold.yellow 25% Off 
            //-   br.d-none-sm
            //-   | On All Fitato Passes
            //- img(src="", alt="offer").banner-mobile
            //- p.move-down-icon-animate
            //-   img.down-arrow(src='assets/img/icons/arrow-down.svg', width='25', alt='down arrow')
            //-   | Scroll down for the exclusive offer
            p.use Use Coupon Code:
            p.offers-page-hero--code
              span.green JACKPOT
            p.on On Your Fitato App

      //- .offers-page-steps
      //-   .container
      //-     .offers-page-steps__left
      //-       p
      //-         strong BUY
      //-       .offers-page-steps__left--item
      //-         p Any Fitato Membership
      //-     .offers-page-steps__right
      //-       p
      //-         strong GET
      //-       .offers-page-steps__left--item
      //-         p 20% Discount + 30% Cashback
      .offers-page-intro
        .container
          //- p.offer-title-highlight Republic Day Offer
          //- h2 Purchase Any Fitato Membership and Get 50% Cashback In Your Fitato Wallet
          //- p.offers-page-intro--use-coupon
          //-   | Use Coupon Code
          //-   span.offer-highlight FLASH50
          //-   span.offer-highlight--clear on your Fitato App
          p(style='font-size: 1.3em; font-weight: 700; padding-top: 10px') OR
          p(style='font-size: 1.3em; font-weight: 700; margin-bottom: 0') Pre-Book Now:
          .offers-page-plans__items
            .offers-page-plans__item
              .offers-page-plans__item--title
                h3
                  | Fitato Quarterly
                  br
                  small.normal (3 months)
              .offers-page-plans__item--body
                p
                  | Get unlimited access to every Fitato partner facility for three months.
                p.offers-page-plans__item--price-strike ₹5,499
                p.offers-page-plans__item--price ₹4,124
                //- p.offers-page-plans__item--get-cb Get Cashback: ₹2,199
              .offers-page-plans__item--cta
                a.button.button-fluid(href='https://imjo.in/w4jXBg', target='_blank', rel='noopener noreferrer') Buy Now
            .offers-page-plans__item
              .offers-page-plans__item--title
                h3
                  | Fitato Bi-Monthly
                  br
                  small.normal (2 months)
              .offers-page-plans__item--body
                p
                  | Get unlimited  access to every Fitato partner facility for two months.
                p.offers-page-plans__item--price-strike ₹3,899
                p.offers-page-plans__item--price ₹2,924
                //- p.offers-page-plans__item--get-cb Get Cashback: ₹1,559
              .offers-page-plans__item--cta
                a.button.button-fluid(href='https://imjo.in/QfuAkt', target='_blank', rel='noopener noreferrer') Buy Now
            .offers-page-plans__item
              .offers-page-plans__item--title
                h3
                  | Fitato Monthly
                  br
                  small.normal (1 month)
              .offers-page-plans__item--body
                p
                  | Get unlimited access to every Fitato partner facility for one month.
                p.offers-page-plans__item--price-strike ₹2,199
                p.offers-page-plans__item--price ₹1,649
                //- p.offers-page-plans__item--get-cb Get Cashback: ₹879
              .offers-page-plans__item--cta
                a.button.button-fluid(href='https://imjo.in/phcmwp', target='_blank', rel='noopener noreferrer') Buy Now

          small
            | * Offer valid till 15
            sup th
            |  June 2019 for first time users only.
          //- br
          //- small * Not valid on payment made through Fitato wallet.
          br
          small * Pass can be activated later.
          div(style='margin-top: 50px')
            h4(style='margin-bottom: 5px') Have questions? Let us help.
            a.button(href='tel:+918448448546') Talk to us
      .offers-page-banner
        .container
          h2 Don’t Just Wish For A Good Body, Work For It!
          p Work out in over 300+ gyms &amp; fitness studios with your single-access Fitato Pass. Come, fall in love with fitness.
      .partial-download-swipe
        .container
          .partial-download-swipe__left
            h2 Download the Fitato App
            p
              | Swim your way to Zumba via MMA and Yoga! Experiment each day with a new adventure and push your body to the limits with your Fitato Pass.
            .partial-app-icons
              a(href='https://play.google.com/store/apps/details?id=fit.fitato.health&hl=en', target='_blank', rel='noopener noreferrer')
                img.partial-app-icon(src='/assets/img/icons/google-play-store.svg', alt='fitato on google play store')
              a(href='https://itunes.apple.com/in/app/fitato/id1300323768', target='_blank', rel='noopener noreferrer')
                img.partial-app-icon(src='/assets/img/icons/apple-app-store.svg', alt='fitato on app store')
          .partial-download-swipe__right
            img(src='/assets/img/fitato-app.png', alt='download fitato smartphone app')
    footer.footer-copyright
      .container
        small © 2018 Fitato Health Solutions Private Limited.
        div
          small
            a(href='https://www.fitato.fit/privacy-policy') Privacy Policy
