include components/_index.pug
doctype html
html(lang='en')
  +head('Get 20% Off + 30% Cashback on all Fitato Passes | Fitato Offers', '')

  body
    +nav('')

    main(style="overflow: hidden;")
      .offers-page-hero
        //- .red-angle
        //- .white-angle
        .container
          .offers-page-hero__wrapper
            h1(title="The Final Offer") 
              img.offer-img(src="assets/img/the-final-offer.png", alt="the final offer")
            //- h1.italic.uppercase Big 
            //-   span.red Bonus 
            //-   | Bonanza
            h2.italic.white Flat 
              span.red 20%
              |  Off
              br
              | + 
              span.red 30%
              |  Cashback
              br
              span.normal(style="font-size: 0.5em;") On All Fitato Passes
            //-   br
            //-   span.normal(style="font-size: 0.8em;") And Get Cashback 
            //-     span.red  ₹2,222
            //- .line
            //- p.focus.uppercase.bold.italic
            //-   span.red-cut ₹5499
            //-   |  ₹3999 +
            //-   br
            //-   | ₹999 cashback
            //- a.button.align-center.normal(href='https://www.instamojo.com/@fitato/l339f1f9a34334e0b98909e1fe52ff648/', target='_blank', rel='noopener noreferrer') Buy Now
            //- img(src="", alt="offer").banner-mobile
            //- p.move-down-icon-animate
            //-   img.down-arrow(src='assets/img/icons/arrow-down.svg', width='25', alt='down arrow')
            //-   | Scroll down for the exclusive offer
            p.use.white Use Coupon Code:
            p.offers-page-hero--code
              span.extra-bold.white B4HIKE
            p.on.white On Your Fitato App

      //- .offers-page-steps
      //-   .container
      //-     .offers-page-steps__left
      //-       p
      //-         strong BUY
      //-       .offers-page-steps__left--item
      //-         p Any Fitato Membership
      //-     .offers-page-steps__right
      //-       p
      //-         strong GET
      //-       .offers-page-steps__left--item
      //-         p 20% Discount + 30% Cashback
      .offers-page-intro
        .container
          //- p.offer-title-highlight Republic Day Offer
          //- h2 Purchase Any Fitato Membership and Get 50% Cashback In Your Fitato Wallet
          //- p.offers-page-intro--use-coupon
          //-   | Use Coupon Code
          //-   span.offer-highlight FLASH50
          //-   span.offer-highlight--clear on your Fitato App
          p(style='font-size: 1.3em; padding-top: 10px').bold OR
          p(style='font-size: 1.3em;').bold.mb-0 Pre-Book Now:
          .offers-page-plans__items
            .offers-page-plans__item
              .offers-page-plans__item--title
                h3
                  | Fitato Quarterly
                  br
                  small.normal (3 months)
              .offers-page-plans__item--body
                p
                  | Get unlimited access to every Fitato partner facility for three months.
                p.offers-page-plans__item--price-strike ₹5,499
                p.offers-page-plans__item--price ₹4,399
                p.offers-page-plans__item--get-cb Get Cashback: ₹1,319
                p.offers-page-plans__item--get-cb(style="margin-top: 15px;")
                  span.bold Post Hike Price:
                  |  ₹6,599
              .offers-page-plans__item--cta
                a.button.button-fluid(href='https://imjo.in/RRPGTd', target='_blank', rel='noopener noreferrer') Buy Now
            .offers-page-plans__item
              .offers-page-plans__item--title
                h3
                  | Fitato Bi-Monthly
                  br
                  small.normal (2 months)
              .offers-page-plans__item--body
                p
                  | Get unlimited  access to every Fitato partner facility for two months.
                p.offers-page-plans__item--price-strike ₹3,899
                p.offers-page-plans__item--price ₹3,119
                p.offers-page-plans__item--get-cb Get Cashback: ₹935
                p.offers-page-plans__item--get-cb(style="margin-top: 15px;")
                  span.bold Post Hike Price:
                  |  ₹4,599
              .offers-page-plans__item--cta
                a.button.button-fluid(href='https://imjo.in/mTC4ww', target='_blank', rel='noopener noreferrer') Buy Now
            .offers-page-plans__item
              .offers-page-plans__item--title
                h3
                  | Fitato Monthly
                  br
                  small.normal (1 month)
              .offers-page-plans__item--body
                p
                  | Get unlimited access to every Fitato partner facility for one month.
                p.offers-page-plans__item--price-strike ₹2,199
                p.offers-page-plans__item--price ₹1,759
                p.offers-page-plans__item--get-cb Get Cashback: ₹527
                p.offers-page-plans__item--get-cb(style="margin-top: 15px;")
                  span.bold Post Hike Price:
                  |  ₹2,599
              .offers-page-plans__item--cta
                a.button.button-fluid(href='https://imjo.in/HdVYdS', target='_blank', rel='noopener noreferrer') Buy Now
          //- .buy-now(style="margin: 25px 0 35px 0")
          //-   a.button(href='https://imjo.in/kHjCtz', target='_blank', rel='noopener noreferrer', style="padding: 15px 30px; font-size: 20px;") Buy Now

          small
            | * Offer valid till 15
            sup th
            |  October 2019 midnight only.
          //- br
          //- small * Not valid on payment made through Fitato wallet.
          br
          small * Pass can be activated later.
          .offers-page-plans__help
            h4 Have questions? Let us help.
            a.offers-page-plans__help--call.button-inverted(href='tel:+918448448546')
              img(src="assets/img/icons/call.svg", alt="call")
              | Talk to us

      +wishWork
      +downloadApp('')
    +footer
